/*
!.gitignore
!ekam/
ib_logfile0
ib_logfile1
ibdata1
ibtmp1
mysql.pid
mysql/db.MAI
mysql/global_priv.MAI
mysql/innodb_index_stats.ibd
mysql/innodb_table_stats.ibd
mysql/proxies_priv.MAI
mysql/roles_mapping.MAD
mysql/user.frm
performance_schema/db.opt
phpmyadmin/db.opt
phpmyadmin/pma__recent.ibd
phpmyadmin/pma__userconfig.ibd
test/db.opt
